<!-- # <%= form_tag login_path do %>
#   <label>Name:</label><br>
#   <%= text_field_tag :name %><br>
#
#   <label>User Password:</label><br>
#   <%= password_field_tag :password %><br>
#
#   <label>Confirm Password:</label><br>
#   <%= password_field_tag :password_confirmation %><br>
#
#   <%= submit_tag "Sign In" %>
# <% end %> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="margin">
      <%= form_for @user, url: login_path, method: :post do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "log in" %>
        Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
      <% end %>
    </div>

  </body>
</html>
