<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="margin">
      <div class="ui-form">
        <%= form_for @user do |f| %>
            <div class="ui three column very relaxed grid">
            <div class="column">
            <label>Location</label>
            <select class="ui search dropdown" name="user[location]" id="user_location">
              <option value="">Select Location</option>
              <% unique_locations = Restaurant.all.map {|restaurant| restaurant.location}.uniq %>
              <% unique_locations = unique_locations.sort %>
              <% unique_locations.each do |location| %>
              <option value="<%= location %>"><%= location %></option>
              <% end %>
            </select>

            </div>
            <div class="column">
            <label>Cuisine</label>
            <select class="ui search dropdown" name="user[cuisine]" id="user_cuisine">
              <option value="">Select Cuisine</option>
              <% unique_cuisines = Restaurant.all.map {|restaurant| restaurant.cuisine}.uniq %>
              <% unique_cuisines = unique_cuisines.sort %>
              <% unique_cuisines.each do |cuisine| %>
              <option value="<%= cuisine %>"><%= cuisine %></option>
              <% end %>
            </select>

            </div>
            <div class="column">
            <label>Vibe</label>
            <select class="ui search dropdown" name="user[keyword]" id="user_keyword">
              <option value="">Select Vibe</option>
              <% unique_keywords = Restaurant.all.map {|restaurant| restaurant.keyword}.uniq %>
              <% unique_keywords = unique_keywords.sort %>
              <% unique_keywords.each do |keyword| %>
              <option value="<%= keyword %>"><%= keyword %></option>
              <% end %>
            </select>
          </div>


<!-- keyword = Restaurant.all.map do |restaurant|
  restaurant.keyword
end

keyword.uniq -->


          </div>

          <br><br>
          <!-- <%= f.label :location %>
          <%= f.collection_select :location, Restaurant.all.uniq {|restaurant| restaurant.location}, :location, :location %>
          <div class="field"> -->
          <!-- <%= f.label :cuisine %>
          <%= f.collection_select :cuisine, Restaurant.all.uniq {|restaurant| restaurant.cuisine}, :cuisine, :cuisine %>
          <%= f.label :keyword %>
          <%= f.collection_select :keyword, Restaurant.all.uniq {|restaurant| restaurant.keyword}, :keyword, :keyword %> -->
          <center><button type="submit" class="ui button" style="background: linear-gradient(to right, #f6b746, #f88358, #dc5b73, #a54886, #5b4285);">Search</button></center>

        <% end %>
      </div>
    </div>
  </body>
</html>
