<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>



    <div class="bg-img">
      <div class="head-text">
          <h2>Find unique restaurants all around New York</h2>
      </div>

    </div>

    <div class="margin">


      <div class="ui-form">
        <%= form_for @user do |f| %>
            <select class="ui search fluid dropdown" name="user[location]" id="user_location">
              <option value="">Select Location</option>
              <% unique_locations = Restaurant.all.map {|restaurant| restaurant.location}.uniq %>
              <% unique_locations = unique_locations.sort %>
              <% unique_locations.each do |location| %>
              <option value="<%= location %>"><%= location %></option>
              <% end %>
            </select>
            <br>
            <select class="ui search fluid dropdown" name="user[cuisine]" id="user_cuisine">
              <option value="">Select Cuisine</option>
              <% unique_cuisines = Restaurant.all.map {|restaurant| restaurant.cuisine}.uniq %>
              <% unique_cuisines = unique_cuisines.sort %>
              <% unique_cuisines.each do |cuisine| %>
              <option value="<%= cuisine %>"><%= cuisine %></option>
              <% end %>
            </select>
            <br>
            <select class="ui search fluid dropdown" name="user[keyword]" id="user_keyword">
              <option value="">Select Vibe</option>
              <% unique_keywords = Restaurant.all.map {|restaurant| restaurant.keyword}.uniq %>
              <% unique_keywords = unique_keywords.sort %>
              <% unique_keywords.each do |keyword| %>
              <option value="<%= keyword %>"><%= keyword %></option>
              <% end %>
            </select>
          <br><br>

          <center><button type="submit" class="fluid ui button" style="background: linear-gradient(to right, #8C33E3, #696CE8, #4A9EEC); font-family:Futura; color:white">Search</button></center>

        <% end %>
      </div>
    </div>
  </body>
</html>
