<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="margin">

      <%= form_for @user, controller: 'users', action: 'create' do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Sign Up" %>
    <% end %>
    </div>
  </body>
</html>
