<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="margin">

      <h1><%= @restaurant.name %><h1>



      <button class="ui purple button font-fam" style="font-family: Futura"><%= @restaurant.location %></button>
      <button class="ui blue button font-fam" style="font-family: Futura"><%= @restaurant.cuisine %></button>
      <button class="ui teal button font-fam" style="font-family: Futura"><%= @restaurant.keyword %></button>
      <button class="ui red button font-fam" style="font-family: Futura;"><a href="https://www.opentable.com/r/<%=@restaurant.name_to_open_table_string %>-new-york?p=2&sd=<%=@restaurant.date%>+19%3A00&page=1" target="_blank" style="color:white">Reserve</a></button>
      <h3 class="h3-font" style="font-size:1rem; font-weight:lighter"><%= @restaurant.description %></h3>
      <br>



    <center><div class="ui raised compact segment">
      <center><iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBRKdAjqKre_n-DT4FvJaqFH2xIPvr1W_o&q=<%=@restaurant.address_to_google_string%>" allowfullscreen>
      </iframe></center>
  </div></center>
    </div>

    <br>
    <br>
    <br>
  </body>
</html>
