<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="margin">

      <h1><%= @restaurant.name %><h1>
      <button class="ui teal basic button"><%= @restaurant.location %></button>
      <button class="ui teal basic button"><%= @restaurant.cuisine %></button>
      <button class="ui teal basic button"><%= @restaurant.keyword %></button>
      <button class="ui teal basic button"><a href="https://www.opentable.com/r/<%=@restaurant.name_to_open_table_string %>-new-york?p=2&sd=<%=@restaurant.date%>+19%3A00&page=1" target="_blank">Reserve</a></button>
      <h3 class="h3-font"><%= @restaurant.description %></h3>




    <div class="ui raised segment">
      <center><iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBRKdAjqKre_n-DT4FvJaqFH2xIPvr1W_o&q=<%=@restaurant.address_to_google_string%>" allowfullscreen>
      </iframe></center>
  </div>

    </div>

  </body>
</html>
